@charset "UTF-8";

/* LOADING FONTS */
@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-BoldItalic;
    src: url(fonts/Roboto/Roboto-BoldItalic.ttf);
}
@font-face {
    font-family: Roboto-Medium;
    src: url(fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto-MediumItalic;
    src: url(fonts/Roboto/Roboto-MediumItalic.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Italic;
    src: url(fonts/Roboto/Roboto-Italic.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto-LightItalic;
    src: url(fonts/Roboto/Roboto-LightItalic.ttf);
}


/* GENERAL STYLES */
html {
    font-size: 100%;
    }
body {
    font-family: Roboto-Light, sans-serif;
    font-size: 1rem;
    background-color: #000000;
    color: #ffffff;
    margin: 0 10%;
}
/* unvisited link */
a:link {
    color: #00ffff;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: #00ffff;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: #ffffff;
    text-decoration: underline;
}
/* selected link */
a:active {
    color: #008b8b;
    text-decoration: none;
}


/* HEADER STYLES */
/* header {
    background-color: #000000;
} */
h1 {
    font-family: Roboto-Bold, sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 30px;
}


/* MAIN STYLES */
/* main {
    background-color: #999999;
} */
h2 {
    font-family: Roboto-Medium, sans-serif;
    font-size: 2rem;
    color: #ffffff;
}
h3 {
    font-family: Roboto-Regular, sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
}
td, th {
    border: 1px solid #ffffff;
}
figcaption {
    font-family: Roboto-LightItalic, sans-serif;
    font-size: 0.75rem;
    color: #ffffff;
}


/* FOOTER STYLES */
/* footer {
    background-color: #000000;
} */










