@charset "UTF-8";


/* LOADING FONTS */
@import url("/css/fonts.css");


/* GENERAL STYLES */
html {
    font-size: 100%;
    box-sizing: border-box;
    }
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: Roboto-Light, sans-serif;
    font-size: 1rem;
    background-color: #000000;
    color: #ffffff;
    margin: 0 !important;
}
hr {
    margin: 5px;
    border-color: #000000;
}
/* unvisited link */
a:link {
    color: #00ffff;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: #00ffff;
    text-decoration: none;
}
/* focus link */
a:focus {
    color: #ffffff;
    text-decoration: underline;
}
/* mouse over link */
a:hover {
    color: #ffffff;
    text-decoration: underline;
}
/* selected link */
a:active {
    color: #008b8b;
    text-decoration: none;
}


/* HEADER STYLES */
header {
    background-color: #0f0f0f;
}
h1 {
    background-image: url(/images/geometric-640x462.png);
    background-position: center center;
    font-family: Roboto-Bold, sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 0px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#header_logo {
    margin-top: 1%;
    max-width: 25vw;
}
#header_text {
    visibility: hidden;
    transition-duration: 2s;
    visibility: visible;
}
#header_navigation {
    background-image: linear-gradient(to top, #0f0f0f, black);
}
#header_navigation ul {
    list-style-type: none;
    padding: 10px 10%;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
#header_navigation ul li {
    border-style: solid;
    border-width: 1px;
    border-color: #00ffff;
    border-radius: 1em;
    padding: 0.25em 0.5em;
    box-shadow: #00ffff 0 2px 1px;
}


/* MAIN STYLES */
/* main {
    background-color: #0f0f0f;
} */
h2 {
    font-family: Roboto-Medium, sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    text-transform: capitalize;
    margin-top: 0;
    text-align: center;
}
h2::first-letter {
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    color: #00ffff;
}
h3 {
    font-family: Roboto-Regular, sans-serif;
    font-size: 1.2rem;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
}
section {
    background-color: #0f0f0f;
    padding: 0 8%;
    padding-bottom: .1rem;
    background-image: radial-gradient(black, #0f0f0f 50%);
}
td, th {
    border: 1px solid #ffffff;
}
#home_about_figure {
    float: center;
    width: 50%;
    margin: 0 auto 0;
    shape-outside: circle(50%);
    position: relative;
    left: 50vw;
    transform: translateX(-50vw); 
    transition: transform 1s linear 0.25s;
}
#home_about_figure picture img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
}
#home_about_text {
    position: relative;
    left: -50vw;
    transform: translateX(50vw); 
    transition: transform 1s linear 0.25s;
}
#home_section_industry {
    position: relative;
}
#home_industry_figure {
    margin: 0;
    position: absolute;
    right: 5%;
    bottom: -20%;
    z-index: 0;
}
#home_about_fig_cap div {
    display: none;
}
p {
    line-height: 1.2em;
    /* text-indent: 2em; */
    text-align: center;
    letter-spacing: 0.5px;
    /* display: list-item;
    list-style-type: lower-greek; */
}
form {
    padding-bottom: 10px;
}
table {
    padding-bottom: 10px;
}


/* FOOTER STYLES */
footer {
    background-color: #0f0f0f;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1% 98% 1%;
    grid-template-areas: "Left  Center  Right"
                         "Copy  Copy    Copy";
}
#footer_container {
    background-image: linear-gradient(to bottom, #0f0f0f, black);
    padding: 0 10%;
    grid-area: Center;
}
#footer_container * {
    text-align: center;
}
#footer_navigation ul {
    list-style-type: none;
    list-style-position: outside;
    padding: 0%;
}
#footer_copyright {
    margin: 0px;
    padding: 1rem 4%;
    background-image: url(/images/geometric-1280x924.png);
    background-position: center center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    grid-area: Copy;
}
#footer_address {
    padding-bottom: 1rem;
}
#footer_left {
    background-image: linear-gradient(to bottom, #0f0f0f, black);
}
#footer_right {
    background-image: linear-gradient(to bottom, #0f0f0f, black);
}


/* MEDIA QUERIES FOR SCREENS WIDER THAN 400 PX */
@media screen and (min-width: 400px) {
    /* HEADER STYLES */
    h1 {
        background-image: url(/images/geometric-1280x924.png);
        font-size: 3rem;
    }
    #header_logo {
        margin-top: 1%;
        max-width: 50vw;
    }


    /* MAIN STYLES */
    h2 {
        text-align: left;
        font-size: 2rem;
    }
    h3 {
        text-align: left;
        font-size: 1.5rem;
    }
    section {
        padding: 0 10%;
        padding-bottom: .1rem;
    }
    #home_about_figure {
        float: right;
        width: 40%;
        margin: 0.83rem 0 0.5rem 10%;
        shape-outside: circle(50%);
    }
    /* Clearfix */
    #home_section_about::after {
        content: "";
        clear: both;
        display: table;
    }
    #home_about_figure picture img {
        max-width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 5rem;
    }
    #home_about_fig_cap div {
        display: block;
    }
    #home_about_fig_cap {
        font-family: Roboto-LightItalic, sans-serif;
        font-size: 0.75rem;
        color: #ffffff;
        text-align: right;
        margin-bottom: 0.5rem;
    }
    #home_about_fig_cap:after {
        content: '';
    }
    p {
        line-height: 1.5em;
        text-align: justify;
        letter-spacing: 1px;
    }
    
    
    /* FOOTER STYLES */
    footer {
        grid-template-columns: 25% 50% 25%;
    }
    #footer_container {
        padding: 0;
        grid-area: Center;
    }
    #footer_copyright {
        padding: 10px;
    }
    #footer_address {
        padding-bottom: 1rem;
    }
}






